<!doctype html>
<html>
  <head>
    <title>Register for <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%= shopData.shopName %></h1>

    <% if (errors && errors.length > 0) { %>
      <div class="error-messages">
        <% errors.forEach(function(error) { %>
          <p style="color: red;"><%= error.msg %></p>
        <% }) %>
      </div>
    <% } %>

    <form action="registered" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="<%= username %>">
      <br/>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname" value="<%= firstname %>">
      <br/>
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" value="<%= lastname %>">
      <br/>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" value="<%= email %>">
      <br/>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br/>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword">
      <br/>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
